<%- include("_header") %> 
  <div class="container-fluid">
    <section>
        <div class="content">
          
          <h1>Produtos</h1>
          <hr>
          <!-- Lista de Produtos-->
          
          <div class="wrapper-pedidos grid grid-template-columns-3">

            <div class="produto card">
                <div class="card-body">
                   <h2 class="card-title prod-title">
                       Millenium Falcom
                   </h2> 
                   <hr>
                   <h1>R$ 555.000,00</h1>
                </div>
            </div>
            
            <div class="produto card">
                <div class="card-body">
                   <h2 class="card-title prod-title">
                       X-Wing
                   </h2> 
                   <hr>
                   <h1>R$ 60.000,00</h1>
                </div>
            </div>
            
            <div class="produto card">
                <div class="card-body">
                   <h2 class="card-title prod-title">
                       Super Star Destroyer
                   </h2> 
                   <hr>
                   <h1>R$ 4.570.000,00</h1>
                </div>
            </div>
            
            <div class="produto card">
                <div class="card-body">
                   <h2 class="card-title prod-title">
                       TIE Fighter
                   </h2> 
                   <hr>
                   <h1>R$ 75.000,00</h1>
                </div>
            </div>




          </div>
          
          
        </div>
      </div>
    </section>
  </div>
 
<%- include("_footer") %> 