* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    --black: #585666
}

body {
    color: var(--black);
}

.bd-title {
    font-size: 3rem;
}

a:hover {
    text-decoration: none;
}

.content {
    margin: 2.1rem;
}

.head-title {
    color: white;
    font-size: 2.8rem;
}
.grid {
    display: grid;
    max-width: 10rem;
}

.grid-template-columns {
    grid-template-columns: 20rem 20rem;
}

.grid-template-columns-3 {
    grid-template-columns: 1fr 1fr;
}
.wrapper-pedidos {
    font-size: 1.5rem;
}

.wrapper-pedidos, .pedido {
    margin-top: 2rem;
}

.pedido {
    margin: 1rem;
}

.pedido {
    font-family: Inter;
    font-weight: normal;
    font-size: 1.3rem;
}
.ped-title > a {
    text-decoration: none;
    color: var(--black);
    
}
.ped-title {
    font-size: 1.8rem;
    font-family: 'Lexend', sans-serif;
    font-weight: 600;
}

.ped-cliente {
    font-family: Inter;
    font-weight: normal;
    font-size: 1.5rem;
}
.card-header> ul {
    list-style-type: none;
    margin: 0;
    padding-left: 1rem;
    position: left;
}

.card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.numb-pedido {
    margin-right: 2rem;
}

.footer > a {
    color:aliceblue;
    text-decoration: none;
}

.footer {
    height: 10rem;
}