<html>
    <head>
        <title>Cliente Cadastrado</title>
        <script>
            confirm("Cliente Já Cadastrado");
            window.location.replace("/")
        </script>
    </head>
</html>