<section>
    
    <!-- Busca Lista de Clientes -->
    <% clientes.forEach(cliente=> { %>
        <div class="cliente">
            <p><%= cliente.id%></p>
            <p><%= cliente.name %></p>
        </div>
        
        <% }); %>
        
        
        
</section>