  <div class="container-fluid">
    <section>
      <div class="content">
        
        <h1>Produtos</h1>
        <hr>
        <!-- Lista de Produtos-->
        
        <div class="wrapper-pedidos grid grid-template-columns-3">
          
          <div class="produto card">
            <div class="card-body">
              <div class="prod-image">
                <img src="#" alt=""/>
              </div>
              <h2 class="card-title prod-title">
                Millenium Falcom
              </h2> 
              <div class="prod-price">
                R$ 550.000,00
              </div>
            </div>
            <div class="actions">
              <a href="#">Adicionar</a>
              -
              <a href="#">Editar</a>
            </div>
          </div>
          
          
           <div class="produto card">
            <div class="card-body">
              <div class="prod-image">
                <img src="#" alt=""/>
              </div>
              <h2 class="card-title prod-title">
                Millenium Falcom
              </h2> 
              <div class="prod-price">
                R$ 550.000,00
              </div>
            </div>
            <div class="actions">
              <a href="#">Adicionar</a>
              -
              <a href="#">Editar</a>
            </div>
          </div>

           <div class="produto card">
            <div class="card-body">
              <div class="prod-image">
                <img src="#" alt=""/>
              </div>
              <h2 class="card-title prod-title">
                Millenium Falcom
              </h2> 
              <div class="prod-price">
                R$ 550.000,00
              </div>
            </div>
            <div class="actions">
              <a href="#">Adicionar</a>
              -
              <a href="#">Editar</a>
            </div>
          </div>
         
           <div class="produto card">
            <div class="card-body">
              <div class="prod-image">
                <img src="#" alt=""/>
              </div>
              <h2 class="card-title prod-title">
                Millenium Falcom
              </h2> 
              <div class="prod-price">
                R$ 550.000,00
              </div>
            </div>
            <div class="actions">
              <a href="#">Adicionar</a>
              -
              <a href="#">Editar</a>
            </div>
          </div>
          
          
          
        </div>
        <hr>
        
        
      </div>
    </div>
  </section>
</div>