<section>
    <div class="pedido">
        <div class="h2">Pedido #32453</div>
        <div class="cliente h2">Cliente: Darth Vader</div>
        <div class="Itens h2">Itens: 03</div>
        <div class="card bg-warning">
            <table class="table table-hover ">
                <thead card-header card-title>
                    <tr>
                        <th>Produto</th>
                        <th>Quantidade</th>
                        <th>Preço Unitário</th>
                    </tr>
                </thead>
                <tbody card-body>
                    <td>Super Star Destroyer</td>
                    <td>1</td>
                    <td>4.570.000,00</td>
                </tbody>
                <tbody>
                    <td>X-Wing</td>
                    <td>100</td>
                    <td>60.000,00</td>
                </tbody>
                <tbody>
                    <td>Lightsaber</td>
                    <td>2</td>
                    <td>6.000,00</td>
                </tbody>
                
            </table>
            <table>
                <th>Total: 4.636.000,00</th>
            </table>
        </div>
    </div>
    
</section>